@import "main.scss";

article {
  color: $lightBlack;
  padding: 0 2vw;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;

  .article__hashtags {
    text-align: justify;
    padding-bottom: 3vw;
  }
  p {
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  h1 {
    @include flexCenter;
    font-size: 1.5em;
    text-align: center;
    padding: 3vw;
    border-top: ridge 1px $lightBlack;

    :first-of-type {
      border-top: none;
    }
    @include respond-to("md") {
      font-size: 2em;
    }
  }

  img {
    max-width: 100%;
    margin: 4vw auto;
    padding: 2vw;
    @include respond-to("md") {
      max-width: 500px;
    }
  }
}

iframe {
  display: flex;
  margin: 4vw auto;
  padding: 2vw;
  max-width: 100%;

  @include respond-to("md") {
    max-width: 766px;
    max-height: 643px;
  }
}

footer {
  color: white;
}
