//MEDIA-QUERIES
$breakpoints: (
		"xs": (min-width: 576px),
		"sm": (min-width: 768px),
		"md": (min-width: 992px),
		"lg": (min-width: 1200px),
		"xlg": (min-width: 1441px)
	)
	!default;

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
}

.slides {
	height: 200px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	@include respond-to("sm") {
		height: 500px;
	}
}

.slide {
	position: absolute;
	background: var(--pink);
	height: 100%;
	width: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	color: white;
	font-size: 100px;
	font-family: sans-serif;
	transition: all .25s;
	transform: translateX(-200%);
}

.slide.next + .slide {
	transform: translateX(200%);
}

.slide.prev {
	z-index: 10;
	transform: translateX(-100%);
}
.slide.current {
	z-index: 10;
	transform: translateX(0);
}
.slide.next {
	z-index: 10;
	transform: translateX(100%);
}

.controls {
	display: flex;
	justify-content: space-around;
	padding: 2rem;
	i {
		font-size: 12px;
		margin-left: 2vw;

		@include respond-to("md") {
			font-size: 17px;
		}
	}
}
