@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
@font-face {
  font-family: "signature";
  src: url("../fonts/Signature.ttf");
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/WalkwaySemiBold.ttf");
}
:root {
  --linearBackground: linear-gradient(90deg, #ec62c2b7 0%, #fddf59b6 100%);
  --elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
  --textShadowFunny: -3px -3px 0 7px hsl(60, 10%, 65%), -4px -4px 0 7px hsl(60, 10%, 65%),
  	-5px -5px 0 7px hsl(60, 10%, 65%), -6px -6px 0 7px hsl(60, 10%, 65%);
  --circuleShadow: 0 15px 20px -12px rgba(0, 0, 0, 0.8);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

h2 {
  padding-top: 5vw;
  color: black;
  text-align: center;
}
@media (min-width: 992px) {
  h2 {
    padding-top: 3vw;
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px ridge #101010;
  display: inline;
  font-family: signature;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 150%;
}

.active {
  border-bottom: ridge 1px white;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

#features {
  background: url(../img/features-background.png);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}
#features h2 {
  color: #101010;
}
@media (min-width: 1200px) {
  #features {
    height: 50vw;
  }
}

.features {
  color: #101010;
  padding-bottom: 10vh;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 768px) {
  .features .responsive-slick {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .features {
    padding-bottom: 124px;
    width: 90vw;
    display: block;
  }
}

.feature__item {
  height: 400px;
  width: 300px;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.feature__item .feature__item--image {
  display: flex;
  height: 60%;
}
@media (min-width: 1200px) {
  .feature__item .feature__item--image {
    padding: 1vw;
  }
}
.feature__item .feature__item--image a {
  margin: auto;
}
.feature__item .feature__item--image img {
  margin: auto;
  text-align: center;
  width: 180px;
  height: 180px;
}
.feature__item .feature__item--content {
  margin: auto;
  height: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}
.feature__item .feature__item--content a {
  color: #101010;
  font-weight: bold;
  font-size: 13px;
  margin-top: auto;
}
.feature__item .feature__item--content p {
  padding: 0 2vw;
  width: 70%;
}
@media (min-width: 1200px) {
  .feature__item .feature__item--content p {
    padding: 0;
  }
}

#blog {
  background: url(../img/blog-background.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  #blog {
    height: 50vw;
  }
}

.blog {
  color: #101010;
  padding-bottom: 10vh;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 768px) {
  .blog .responsive-slick {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .blog {
    height: 438px;
    padding-bottom: 124px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.blog .blog__item {
  text-align: center;
  padding: 3vw;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .blog .blog__item {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .blog .blog__item {
    height: 390px;
    width: 255px;
    padding: 30px;
    justify-content: space-between;
  }
}
.blog .blog__item .blog__item--image {
  max-width: 150px;
}
@media (min-width: 992px) {
  .blog .blog__item .blog__item--image {
    width: unset;
  }
}
.blog .blog__item .blog__item--image img {
  margin: 0 auto;
}
.blog .blog__item .blog__item--content {
  margin-top: 19px;
  max-width: 191px;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) {
  .blog .blog__item .blog__item--content {
    padding: 2wmin;
  }
}
.blog .blog__item .blog__item--content h3 {
  font-family: "Lato";
  border: none;
  font-size: 17px;
}
.blog .blog__item .blog__item--content a {
  margin-top: auto;
  color: #101010;
  font-weight: bold;
  font-size: 12px;
}

#projects {
  background: var(--linearBackground);
  color: #ffffff;
}

.projects-section,
.contact-section {
  padding: 5vw;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .projects-section,
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .projects-section,
.contact-section {
    padding: 65px 156px;
    max-height: 500px;
  }
}

.projects-section__content,
.projects-section__slider,
.contact-section__content,
.contact-section__form {
  padding: 2vw;
}
@media (min-width: 992px) {
  .projects-section__content,
.projects-section__slider,
.contact-section__content,
.contact-section__form {
    width: 50%;
  }
}
.projects-section__content h1,
.projects-section__slider h1,
.contact-section__content h1,
.contact-section__form h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
@media (min-width: 1200px) {
  .projects-section__content h1,
.projects-section__slider h1,
.contact-section__content h1,
.contact-section__form h1 {
    margin-top: 24px;
    width: 445px;
  }
}
.projects-section__content p,
.projects-section__slider p,
.contact-section__content p,
.contact-section__form p {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  margin: 24px 0;
}
@media (min-width: 992px) {
  .projects-section__content p,
.projects-section__slider p,
.contact-section__content p,
.contact-section__form p {
    width: 445px;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .socials {
    margin: 0;
  }
}

#contact {
  background: url(../img/contact-background.png);
  background-size: cover, cover;
  background-position: top right, top right;
  background-repeat: no-repeat, no-repeat;
}

.contact-section {
  color: #101010;
  z-index: 1000000;
}
@media (min-width: 1200px) {
  .contact-section {
    padding-bottom: 78px;
  }
}
.contact-section h1 {
  margin-top: 0;
}
.contact-section .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #101010;
  font-size: 14px;
  margin: 0 auto;
}
.contact-section .socials li {
  height: 40px;
  transition: color 0.3s ease;
}
.contact-section .socials li :hover {
  color: #ec62c2;
}
@media (min-width: 992px) {
  .contact-section .socials {
    display: block;
    text-align: left;
    margin: 0;
  }
}

.footer-section {
  background: var(--linearBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
}
@media (min-width: 1200px) {
  .footer-section {
    padding: 0.5vw;
  }
}
.footer-section img {
  width: 30%;
  margin: 0 auto;
  border-radius: 6px;
}
.footer-section p {
  margin-top: 2vw;
}
@media (min-width: 1200px) {
  .footer-section p {
    margin-top: 0.5vw;
  }
}
.footer-section span {
  font-size: 12px;
}

section {
  padding: 2vw;
}
@media (min-width: 768px) {
  section {
    padding: 5%;
    max-width: 700px;
    margin: 0 auto;
  }
}
section h1 {
  text-align: center;
}
section p {
  font-size: 16px;
  text-align: justify;
}
section img {
  padding: 2vw;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  section img {
    max-width: 600px;
  }
}

.footer-section > p,
span {
  color: white;
}

/*# sourceMappingURL=myStory.css.map */
